.footer {
    background-color: $darkBackgroundColor;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $lightTextColor;
}

.footer-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.address{
    padding-bottom:20px;
}

.address-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;

    &__item{
        margin-bottom: 8px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $lightTextColor;

        &--last{
            margin-bottom:0;
        }
    }

}

@media screen and (min-width:768px) {
    .footer-content{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:baseline;
        
    }

    .address{
        padding-bottom:60px;
    }
    
}

@media screen and (min-width:1200px) {
    .footer-content{
        max-width:1200px;
        flex-wrap:nowrap;
        margin:0 auto;
        padding-right:15px;
        padding-left:15px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .address-list {
        display: flex;
        flex-direction: column;

        &__item {
            margin-bottom: 9px;
            display: inline-block;
            text-align:left;
        }
    }    
}

/* 

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.address-list {
    width: 246px;
    height: 81px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item{
        margin-bottom: 9px;
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $lightTextColor;
    }
} */

