.team {
    background-color: $lightColor;
}

.team-list {
    list-style-type: none;

    &__team-card{
        margin-top:30px;
        margin-right:0;
        margin-left:0;
    }
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightTextColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &--last {
        margin-right: 0;
    }

    &__name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $darkTextColor;
    }

    &__description {
        color: $descriptionColor;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

@media screen and (min-width:768px){
    .team-list {
        display: flex;
        flex-wrap:wrap;
        align-items:space-between;

        &__item{
            flex-basis: calc(100%/2 - 30px);

            &--left {
                margin-right: 30px;
            }
        }

    .team-card{
        max-width:354px;
    }
    }
    
}

@media screen and (min-width:1200px){
    .team-list{
        flex-wrap:nowrap;

        &__team-card {
            margin-top: 50px;
        }
    }
    .team-card {
        flex-basis: 260px;
        width: 270px;
    }

}

